{% extends "base.html" %}

{% block content %}
    <div id="appointments">
    {% if appointments %}
        {% for appointment in appointments %}
        <table>
            <thead>
                <th>Description</th>
                <th>Name</th>
                <th>Proposed dates</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="/appointment?key={{ appointment.key }}">{{ appointment.description }}</a>
                    </td>
                    <td>{{ appointment.name }}</td>
                    <td>{{ appointment.dates }}</td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
    {% else %}
        <p>No appointments.
    {% endif %}
    </div>
{% endblock content %}

