{% load i18n %}

<!DOCTYPE html 
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}Appointmens{% endblock %}</title>
    
    {% block style %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    {% endblock %}

    {% block head %}{% endblock %}
</head>
<body>
    <div id="header">
        <h1>{{ settings.TITLE }}</h1>
        <div id="menu">
            <ul>
                {% if current_user %}
                <li>{{ current_user }}</li>
                <li><a href="{{ logout_url }}">{% trans Logout %}</a></li>
                {% endif %}
                <li><a href="/help">{% trans "Help" %}</a></li>
            </ul>
        </div>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        <p>&copy;2010 {{ settings.TITLE }}</p>
    </div>
</body>

