<!DOCTYPE html 
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}{{ settings.app_config.title }}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/ui-lightness/jquery-ui-1.8.1.custom.css" />

   
    {% block style %}{% endblock %}

    {% block head %}{% endblock %}

    <script src="/static/js/jquery-1.4.2.min.js"></script>
    <script src="/static/js/jquery-ui-1.8.1.custom.min.js"></script>

    {% block javascript %}{% endblock %}

    {% block jquery %}{% endblock %}
</head>
<body>
    <div id="header">
        <div id="menu">
            <ul>
                {% if current_user %}
                <li><a href="/profile">{{ current_user }}</a></li>
                <li><a href="/new">New appointment</a></li>
                <li><a href="/photo/public">Public pictures</a></li>
                <li><a href="/files/public">Public files</a></li>
                <li><a href="{{ logout_url }}">Logout</a></li>
                {% else %}
                <li><a href="{{ login_url }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
        <div id="title">
            <a href="/">{{ settings.app_config.title }}</a>
        </div>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        <p>&copy; 2010 {{ settings.app_config.title }}</p>
    </div>
</body>

