<html>
    <body>

        <p>Dear {{ appointment.name }},</p>

        <p>Thank you for using {{ settings.app_config.title }} to help you pick the right moment for your appointment. We need to verify your email address. Please click the following link to continue:</p>

        <a href="http://{{ request.host }}/confirm?key={{ appointment.key }}">{{ appointment.description}}</a>

        <p>After you have done this, a Pleft email will be sent to the invitees.</p>

        <p>If you did not create this appointment, someone else has entered your email address. Please ignore this message.</p>
    </body>
</html>
