{% extends "base.html" %}

{% load i18n %}

{% block jquery %}
<script type="text/javascript">
    var dateOptions = {
        dateFormat: 'yy-mm-dd',
    }

    var timeOptions = {
        spinnerImage: '/static/img/spinnerOrange.png',
        show24Hours: true,
    }

    var lastHour;

    function refreshDatepicker() {
        $('body').find('input.date').removeClass('hasDatepicker').datepicker(dateOptions);
        $('.timeEntry_control').remove();
        $('body').find('input.time').removeClass('hasTimeEntry');
        $('.timeEntry_wrap').replaceWith(function() {
                return $(this).children();
            });
        $('input.time').timeEntry(timeOptions);
        $('input.time').focus();
    }
        
    $(document).ready(function() {
        $('input.date').datepicker(dateOptions);
        $('input.time').timeEntry(timeOptions);
        $('#date-list').dynamicForm('#plus', '#minus', {
            limit: 5,
            afterClone: refreshDatepicker
        });
    });
</script>
{% endblock %}

{% block content %}
<div id="appointment">
    <h2>Appointment</h2>
    <div class="app-form">
        <form action="" method="post">
            <p>
                <label for="description">{% trans "Description" %}:</label>
                <input type="text" name="description" value="{{ appointment.description }}" />
            </p>
            <p>
                <label for="invitees">{% trans "Invitees" %}:</label>
                <input type="text" name="invitees" value="{{ appointment.invitees }}" />
            </p>
            <p>{% trans "Proposed dates" %}:</p>
            <p>
                <div class="date-list" id="date-list">
                    <label class="date" for="date">{% trans "Date" %}:</label>
                    <input class="date" type="text" name="date[]" />
                    <label class="time" style="float: none" for="time">{% trans "Time" %}:</label>
                    <input class="time" type="text" name="time[]" />
                    <a id="minus" href="">[-]</a><a id="plus" href="">[+]</a>
                </div>
            </p>
            <p>
                <label for="name">{% trans "Your name" %}:</label>
                <input type="text" name="name" value="{{ appointment.name }}" />
            </p>
            <p>
                <label for="email">{% trans "E-mail address" %}:</label>
                <input type="text" name="email" value="{{ appointment.email }}" />
            </p>
            <p>
                <input type="submit" value="{% trans "Send invitations" %}" />
            </p>
        </form>
    </div>
</div>
{% endblock %}

