{% extends "base.html" %}

{% block content %}
<div id="appointment">
    <h2>Appointment</h2>
    <div class="app-form">
        <form action="" method="post">
            <p>
                <label for="description">{% trans "Description" %}:</label>
                <input type="text" name="description" value="{{ appointment.description }}" />
            </p>
            <p>
                <label for="invitees">{% trans "Invitees" %}:</label>
                <input type="text" name="invitees" value="{{ appointment.invitee }}" />
            </p>
            <p>
                <label for="dates">{% trans "Proposed dates" %}:</label>
                <input id="dates" type="text" name="dates" value="{{ appointment.dates }}" />
            </p>
            <p>
                <label for="name">{% trans "Your name" %}:</label>
                <input type="text" name="name" value="{{ appointment.name }}" />
            </p>
            <p>
                <label for="email">{% trans "E-mail address" %}:</label>
                <input type="text" name="email" value="{{ appointment.email }}" />
            </p>
            <p>
                <input type="submit" value="{% trans "Send invitations" %}" />
            </p>
        </form>
    </div>
</div>
{% endblock %}

