{% extends "base.html" %}

{% load i18n %}

{% block javascript %}
<script src="/static/js/galleria.js"></script>
{% endblock %}

{% block jquery %}
<script type="text/javascript">
Galleria.loadTheme('/static/css/galleria-classic/galleria.classic.js');
$(document).ready(function() {
    $('.photos').galleria();
});
</script>
{% endblock jquery %}

{% block content %}
<div id="profile">
    <div id="appointments">
        {% if appointments.count or invitations.count %}
        <table>
            <thead>
                <th>{% trans "Appointment" %}</th>
                <th>{% trans "Dates" %}</th>
            </thead>
            <tbody>
            {% for appointment in appointments %}
                <tr>
                    <td><a href="/appointment?key={{ appointment.key }}&user={{ user.email }}">{{ appointment.description }}</a></td>
                    <td>{{ appointment.dates }}</td>
                </tr>
            {% endfor %}
            {% for appointment in invitations %}
                <tr>
                    <td><a href="/appointment?key={{ appointment.key }}&user={{ user.email }}">{{ appointment.description }}</a></td>
                    <td>{{ appointment.dates }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>{% trans "No appointments" %}.</p>
        {% endif %}
    </div>
    {% ifequal user current_user %}
    <div id="photo-upload">
        <form class="photo-form" action="{{ upload_url }}" enctype="multipart/form-data" method="post">
            <p><label for="file">{% trans "File" %}</label><input type="file" name="file" /></p>
            <p><label for="comment">{% trans "Comment" %}</label><input type="text" name="comment" /></p>
            <p><input type="submit" id="submit" name="submit" value="{% trans 'Send photo' %}" /></p>
        </form>
    </div>
    {% endifequal %}
    {% if photos.count %}
    <div class="photos">
    {% for photo in photos %}
        <a href="/photo/{{ photo.key }}/full"><img src="/photo/{{ photo.key }}" alt="{{ photo.comment }}" /></a>
    {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock content %}

