{% extends "base.html" %}

{% block javascript %}
<script src="/static/js/galleria.js"></script>
{% endblock %}

{% block jquery %}
<script type="text/javascript">
Galleria.loadTheme('/static/css/galleria-classic/galleria.classic.js');
$(document).ready(function() {
    $('.photos').galleria();
    $('.remove').button({icons: {primary: 'ui-icon-trash'}, text: false});
    $('.remove-file').button({icons: {primary: 'ui-icon-trash'}, text: false});
    $('.remove').click(function() {
        var key = $(this).attr('name');
        var tr = $(this).parents().parents().first();
        if (confirm('Remove this appointment?')) {
            $.post('/appointment/remove', {key: key}, function() {
                tr.replaceWith('');
            });
        }
    });
    $('.remove-file').click(function() {
        var key = $(this).attr('id');
        var tr = $(this).parents().parents().first();
        if (confirm('Remove this file?')) {
            $.post('/files/remove', {file_key: key}, function() {
                tr.replaceWith('');
            });
        }
    });
    $('.share-file').click(function() {
        var key = $(this).attr('id');
        $.post('/files/share', {file_key: key});
    });
});
</script>
{% endblock jquery %}

{% block content %}
<div id="profile">
    <div id="appointments">
        {% if appointments.count or invitations.count %}
        <h2>{{ user }} appointments.</h2>
        <table>
            <thead>
                <th>Appointment</th>
                <th>Dates</th>
                <th></th>
            </thead>
            <tbody>
            {% for appointment in appointments %}
                <tr>
                    <td><a href="/appointment?key={{ appointment.key }}&user={{ current_user.email }}">{{ appointment.description }}</a></td>
                    <td>{{ appointment.dates }}</td>
                    {% ifequal user current_user %}
                    <td><button class="remove" name="{{ appointment.key }}">Remove</button></td>
                    {% endifequal %}
                </tr>
            {% endfor %}
            {% for appointment in invitations %}
                <tr>
                    <td><a href="/appointment?key={{ appointment.key }}&user={{ current_user.email }}">{{ appointment.description }}</a></td>
                    <td>{{ appointment.dates }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No appointments.</p>
        {% endif %}
    </div>

    {% if files.count %}
    <div id="files">
        <h2>{{ user }} files.</h2>
        <table>
            <thead>
                <th>Name</th>
                <th>Comment</th>
                {% ifequal user current_user %}
                <th>Public
                {% endifequal %}
            </thead>
            <tbody>
                {% for file in files %}
                <tr>
                    <td><a href="/files/{{ file.key }}/{{ file.blob_info.filename }}">{{ file.blob_info.filename }}</a></td>
                    <td>{{ file.comment }}</td>
                    {% ifequal user current_user %}
                    <td><input type="checkbox" {% if file.public %}checked="true"{% endif %} class="share-file" id="{{ file.key }}" name="public" value="true" /></td>
                    <td><button class="remove-file" id="{{ file.key }}">Remove</button></td>
                    {% endifequal %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    
    {% if photos.count %}

    <h2>{{ user }} photos.</h2>

    <form id="photo-search" action="/photo/search" method="get">
        <input type="hidden" name="user" value="{{ user.email }}" />
        <p>
            <label for="query">Search for a photo</label>
            <input type="text" name="q" />
            <input type="submit" value="Search" />
        </p>
    </form>

    <div class="photos">
    {% for photo in photos %}
        <a href="/photo/{{ photo.key }}"><img src="/photos/{{ photo.key }}" alt="{{ photo.comment }}" /></a>
    {% endfor %}
    </div>
    {% endif %}
    {% ifequal user current_user %}
    <div id="file-upload">
        <h2>Upload a file.</h2>
        {% if errors %}
        <ul id="error">
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <form class="file-form" enctype="multipart/form-data" action="{{ upload_url }}" method="post">
            <p><label for="file">File</label><input type="file" name="file" /></p>
            <p><label for="comment">Comment</label><input type="text" name="comment" /></p>
            <p><input style="width:15px" type="checkbox" checked="true" name="public" value="true" /><label style="float: none" for="public">Make this file public</label></p>
            <p><input type="submit" id="submit" value="Send file" /></p>
        </form>
       
    </div>
    {% endifequal %}

</div>
{% endblock content %}

