{% extends "base.html" %}

{% block content %}
<div id="content">
    {% if files.count %}
    <div id="files">
        <h2>Public files.</h2>
        <table>
            <thead>
                <th>Name</th>
                <th>Comment</th>
                <th>User
            </thead>
            <tbody>
                {% for file in files %}
                <tr>
                    <td><a href="/files/{{ file.key }}/{{ file.blob_info.filename }}">{{ file.blob_info.filename }}</a></td>
                    <td>{{ file.comment }}</td>
                    <td><a href="/profile?user={{ file.user.email }}">{{ file.user }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock content %}

