{% extends "base.html" %}

{% block javascript %}
<script src="/static/js/galleria.js"></script>
{% endblock %}

{% block jquery %}
<script type="text/javascript">
Galleria.loadTheme('/static/css/galleria-classic/galleria.classic.js');
$(document).ready(function() {
    $('.photos').galleria();
});
</script>
{% endblock jquery %}

{% block content %}
<div id="content">
    {% if photos.count %}
    <h2>Public pictures</h2>

    <div class="photos">
        {% for photo in photos %}
        <a href="/photo/{{ photo.key }}"><img src="/photos/{{ photo.key }}" title="{{ photo.comment }}" alt="{{ photo.user }}" /></a>
        {% endfor %}
    </div>
    {% else %}
    <h2>No public pictures</h2>
    {% endif %}
</div>
{% endblock %}

