{% extends "base.html" %}

{% block javascript %}
<script src="/static/js/galleria.js"></script>
{% endblock %}

{% block jquery %}
<script type="text/javascript">
Galleria.loadTheme('/static/css/galleria-classic/galleria.classic.js');
$(document).ready(function() {
    $('.photos').galleria();
});

</script>
{% endblock %}

{% block content %}
<p>Search results for {{ query }}:</p>

<div class="photos">
{% for photo in photos %}
    <a href="/photo/{{ photo.key }}"><img src="/photos/{{ photo.key }}" alt="{{ photo.comment }}" /></a>
{% endfor %}
</div>
{% endblock %}

