body {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    background: url('/static/img/clouds.png') fixed;
}

a {
    color: #00b;
    text-decoration: none;
}

/* TimeEntry styles */
.timeEntry_control {
	vertical-align: middle;
	margin-left: 2px;
}

/* jqueryui font size */
.ui-widget {
    font-size: 11px;
}

#header {
    margin:auto;
    width: 750px;
    background: #fff;
    padding: 15px;
    box-radius: 1em;
}

#title {
    padding-left: 25px;
    font-weight: bold;
    font-size: 2.5em;
}

#title a {
    color: #333;
}

#menu {
    border-bottom: 1px solid #aaa;
    float: right;
}

#menu ul {
    padding: 0;
    margin: 0;
}

#menu li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

#content {
    margin: auto;
    margin-top: 15px;
    width: 750px;
    background: #fff;
    padding: 15px;
}

#footer {
    margin: auto;
    margin-top: 15px;
    width: 750px;
    background: #fff;
    padding: 15px;
}

#appointment table {
    width: 80%;
}

#appointment table th {
    background: #888;
    color: white;
}

#appointment table td {
    text-align: center;
}

#dates {
    width: 35%;
}

#availability {
    width: 30%;
}

#people {
    width: 35%;
}

#title a {
    text-decoration: none;
    color: #333;
}

.dates, .people {
    cursor: pointer;
}

.hover {
    background: #fee;
}

.maybe {
    background: #ff7;
}

.no {
    background: #f77;
}

.yes {
    background: #0f7;
}

.selected {
    background: #7bf;
}

.app-form input, .photo-form input {
    width: 500px;
}

.app-form label, .photo-form label {
    width: 150px;
    float: left;
}

.app-form .date {
    width: 100px;
}

.app-form .time {
    width: 60px;
}


.app-form #submit, .photo-form #submit {
    width: 150px;
}

.thumb img {
    border: 0px;
}

.comment {
    vertical-align: top;
}

